nav{
    height: 100px;
}
h2{
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
.producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .producto .product-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .producto .product-img img {
    width: 100%; /* Utiliza el 100% del contenedor */
    max-width: 600px; /* Máximo ancho de 600px */
    height: auto; /* Ajusta automáticamente la altura según el ancho */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo las proporciones */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
  }
  
  .producto .product-name {
    font-size: 1.5rem; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
  }
  
  .producto .product-price {
    font-size: 1.25rem; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
  }
  
  .producto a {
    font-size: 1.5rem; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
    background-color: black;
    text-align: center;
    width: 100%; /* O ajusta según sea necesario */
    margin-top: 15px; /* Añade un espacio superior entre el precio y el enlace */
    color: white;
    display: block; /* Hace que el enlace ocupe el ancho completo del contenedor */
    text-decoration: none; /* Elimina el subrayado del enlace */
    padding: 10px; /* Añade un relleno al enlace */
    border-radius: 5px; /* Añade bordes redondeados */
  }
  
  .producto a:hover {
    color: rgb(0, 26, 255);
    transition-duration: 0.7s;
    transform: scale(1.1);
  }