nav{
    height: 100px;
}
h2{
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
.producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img{
    width: 600px;
    height: 700px;
    object-fit: contain;
    margin-left: 300px;
}
h4{
    font-size: 30px;
}
p{
    padding-top: 30px;
    font-size: 25px;
}
a{
    font-size: 45px;
    background-color: black;
    text-align: center;
    width: 90px;
    margin: 50px 0px 100px 400px;
    color: white;
}
a:hover{
    color: rgb(0, 26, 255);
    transition-duration: 0.7s;
    transform: scale(1.2);
}
